.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c70039;
  color: white;

  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;

    img {
      width: 2.6em;
      height: auto;
      margin-right: 0.4em;
    }

    span {
      font-size: 1.4em;
    }
  }

  .menu {
    display: flex;
    gap: 20px;

    a {
      position: relative;
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: 0.2em;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: white;
        width: 0%;
        top: 100%;
        transition: width 0.35s ease;
      }
    }

    .search-bar-container {
      position: relative;
      /* Adjust the width as needed */
    }

    .search-input {
      display: flex;
      align-items: center;

      .icon {
        position: absolute;
        left: 10px;
        color: rgba(20, 30, 70, 0.8);
      }
    }

    .search-bar {
      flex: 1;
      padding: 10px;
      border-radius: 50px;
      color: #141e46;
      padding-left: 40px;
      width: 200px;
      transition: width 0.35s ease;
      &::placeholder {
        color: rgba(20, 30, 70, 0.8);
      }
      &:focus {
        outline: none;
        width: 280px;
      }
    }

    .search-icon-button {
      background: none;
      border: none;
      cursor: pointer;
    }

    .search-results-wrapper {
      position: absolute;
      border-radius: 8px;
      top: calc(100% + 2px);
      left: 0;
      width: 100%;
      background: #fff;
      color: #141e46;
      box-shadow: 0 12px 12px rgba(20, 30, 70, 0.4);
      transition: opacity 0.35s ease;
      opacity: 0;
      .search-results {
        padding: 15px 0px;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        max-height: 250px;
        width: 100%;
        div {
          width: 100%;
          padding: 0px 15px;
          display: flex;
          align-items: center;
          height: 50px;
          transition: background-color 0.35s ease;
          border-bottom: 1px solid rgba(0, 0, 0, 0.06);
          &:nth-child(1) {
            border-top: 1px solid rgba(0, 0, 0, 0.06);
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.06);
            cursor: pointer;
          }
          svg {
            margin-right: 5px;
          }
          .avatar {
            flex-shrink: 0;
          }
          .name {
            width: 90px;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .addFriend {
            margin-left: auto;
            color: white;
            background-color: #c70039;
            display: flex;
            align-items: center;
            border-radius: 8px;
            justify-content: center;
            padding: 5px 10px 5px 8px;
            transition: transform 0.35s ease, box-shadow 0.35s ease;
            box-shadow: 0 2px 2px rgba(20, 30, 70, 0);
            flex-shrink: 0;
            svg {
              font-size: 1.4em;
            }
            &:hover {
              cursor: pointer;
              transform: translateY(-5%);
              box-shadow: 0 2px 2px rgba(20, 30, 70, 0.4);
            }
          }
        }
      }
      &.active {
        box-shadow: 0 12px 12px rgba(20, 30, 70, 0.4);
        opacity: 1;
        .search-results {
          overflow-y: scroll;
        }
      }
    }
  }
}
