.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c70039;
  color: white;

  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    img {
      width: 2.6em;
      height: auto;
      margin-right: 0.4em;
    }
    span {
      font-size: 1.4em;
    }
  }

  .menu {
    display: flex;
    gap: 20px;
    a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.35s ease;
      svg {
        margin-right: 0.2em;
      }
      &:hover {
        transform: scale(1.05);
        &::after {
          width: 100%;
        }
      }
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: white;
        width: 0%;
        top: calc(100% + 1px);
        transition: width 0.35s ease;
      }
    }
  }
}
